<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyufighter.myblog.dao.CollectDao">
    <resultMap id="BaseResult" type="com.tianyufighter.myblog.model.Collect">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <result column="article_id" property="articleId"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="is_love" property="isLove"/>
    </resultMap>
    <select id="selectCollect" resultType="int">
        select is_love from collect where article_id = #{articleId} and username = #{username};
    </select>
    <insert id="insertCollect">
        insert into
            collect(article_id, username, is_love)
        values
            (#{articleId}, #{username}, #{isLove});
    </insert>
    <update id = "updateCollect">
        update collect set is_love=#{isLove} where article_id = #{articleId} and username = #{username};
    </update>
</mapper>